<?xml version="1.0" encoding="utf-8"?>
<root>
  <LabelTemplate>
    <![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="WP:BaseClass">
  <xsl:output method="html" />
  <xsl:param name="titleLength" select="20" />
  <xsl:param name="dateandtime" select="MM-dd" />
  <xsl:template match="/">
      <xsl:for-each select="NewDataSet/Table1">
       <div class="horizontal_line"></div>
                <div class="row">
                  <div class="postdate">
                  <p class="small"> 
              <xsl:value-of select="pe:GetmonthTime(INSERTTIME,$dateandtime)" />
                  </p>
                  
                  <p class="big"> 
              <xsl:value-of select="pe:GetdayTime(INSERTTIME,$dateandtime)" />
                  </p>
                  <p class="small">
                    
              <xsl:value-of select="pe:GetyearTime(INSERTTIME,$dateandtime)" />
                  </p>
                  </div> 
                    <div class="posttext">
                  <h4>
                    <a>
            <xsl:attribute name="href">
              <xsl:value-of select="pe:VirtualPath()"/>Resource/Item.aspx?ID=<xsl:value-of select="ID" />
            </xsl:attribute>
            <xsl:attribute name="rel">
            bookmark
            </xsl:attribute>
            <xsl:value-of select="pe:CutText(TITLE,$titleLength,'…')" />
            </a>
           </h4>
                  <p>   <xsl:value-of select="pe:CutText(CONTENT,$titleLength,'…')" /></p>
                  
                  </div>
                  
                </div>    
         
      </xsl:for-each>
  </xsl:template>
</xsl:stylesheet>]]>
  </LabelTemplate>
  <attributes>
    <name>startRow</name>
    <datatype>int</datatype>
    <default>0</default>
  </attributes>
  <attributes>
    <name>LastRowNum</name>
    <datatype>int</datatype>
    <default>10</default>
  </attributes>
  <attributes>
    <name>NodeId</name>
    <datatype>supersql</datatype>
    <default>10</default>
  </attributes>
  <attributes>
    <name>titleLength</name>
    <datatype>supersql</datatype>
    <default>50</default>
  </attributes>
  <attributes>
    <name>dateandtime</name>
    <datatype>supersql</datatype>
    <default>yyyy-MM-dd</default>
  </attributes>
  
   
  <LabelSqlString>
    SELECT * FROM (SELECT ROWNUM AS RN,T1.* FROM (SELECT * FROM T_NEWSBASE WHERE NODEID=@NodeId AND STATUS = 0 AND ISSPECIAL = 'Y' ORDER BY PUBLISHTIME DESC) T1) T2 WHERE RN BETWEEN @startRow AND @LastRowNum
  </LabelSqlString>
  <LabelSqlCount>
    SELECT COUNT(*) FROM (SELECT * FROM T_NEWSBASE WHERE NODEID=@NodeId AND STATUS = 0 AND ISSPECIAL = 'Y') T1
  </LabelSqlCount>
</root>