<?xml version="1.0" encoding="utf-8"?>
<root>
  <LabelTemplate>
    <![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="WP:BaseClass">
  <xsl:output method="html" />
  <xsl:param name="titleLength" select="20" />
  <xsl:param name="dateandtime" select="MM-dd" />
  <xsl:template match="/">
      <xsl:for-each select="NewDataSet/Table1">
        <li>
               <a>
                <xsl:attribute name="href">
                  <xsl:value-of select="pe:VirtualPath()"/>news/<xsl:value-of select="ID" />
                </xsl:attribute>
                <xsl:attribute name="target">
                  _blank
                </xsl:attribute>
                 <xsl:value-of select="pe:CutText(TITLE,$titleLength,'…')" />
              </a>
        </li>
      </xsl:for-each>
  </xsl:template>
</xsl:stylesheet>]]>
  </LabelTemplate>
  <attributes>
    <name>startRow</name>
    <datatype>int</datatype>
    <default>0</default>
  </attributes>
  <attributes>
    <name>LastRowNum</name>
    <datatype>int</datatype>
    <default>10</default>
  </attributes>
  <attributes>
    <name>NodeId</name>
    <datatype>supersql</datatype>
    <default>10</default>
  </attributes>
  <attributes>
    <name>titleLength</name>
    <datatype>supersql</datatype>
    <default>15</default>
  </attributes>
  <attributes>
    <name>dateandtime</name>
    <datatype>supersql</datatype>
    <default>yyyy-MM-dd</default>
  </attributes>
  <LabelSqlString>
    SELECT * FROM (SELECT ROWNUM AS RN,T1.* FROM (SELECT * FROM T_NEWSBASE WHERE NODEID=@NodeId AND STATUS = 0 AND PUBLISHTIME > ADD_MONTHS(SYSDATE,-1) ORDER BY HITS DESC) T1) T2 WHERE RN BETWEEN @startRow AND @LastRowNum
  </LabelSqlString>
  <LabelSqlCount>
    SELECT COUNT(*) FROM (SELECT * FROM T_NEWSBASE WHERE NODEID=@NodeId AND STATUS = 0 AND PUBLISHTIME > ADD_MONTHS(SYSDATE,-1)) T1
  </LabelSqlCount>
</root>