<?xml version="1.0" encoding="utf-8"?>
<root>
  <LabelTemplate>
    <![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="WP:BaseClass">
  <xsl:output method="html" />
  <xsl:param name="titleLength" select="20" />
  <xsl:template match="/">
      <xsl:for-each select="NewDataSet/Table1">
        <li>
            <div class="zxgk1">
          <a>
            <xsl:attribute name="href">
              <xsl:value-of select="pe:VirtualPath()"/>productManage/productList.aspx?PROID=<xsl:value-of select="CODE" />
            </xsl:attribute>
            <xsl:attribute name="target">
              
            </xsl:attribute>
            <xsl:value-of select="VVALUE" />
            </a>
            </div>
        </li>
      </xsl:for-each>
  </xsl:template>
</xsl:stylesheet>]]>
  </LabelTemplate>
  <attributes>
    <name>startRow</name>
    <datatype>int</datatype>
    <default>0</default>
  </attributes>
  <attributes>
    <name>LastRowNum</name>
    <datatype>int</datatype>
    <default>10</default>
  </attributes>
  <attributes>
    <name>ServiceCode</name>
    <datatype>int</datatype>
    <default></default>
  </attributes>
  <LabelSqlString>SELECT CODE,VVALUE FROM ST_PROTYPE WHERE IORDER>0 ORDER BY IORDER</LabelSqlString>
</root>