<?xml version="1.0" encoding="utf-8"?>
<root>
  <LabelTemplate>
    <![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="WP:BaseClass">
  <xsl:output method="html" />
  <xsl:param name="titleLength" select="20" />
  <xsl:param name="dateandtime" select="MM-dd" />
  <xsl:template match="/">
      <xsl:for-each select="NewDataSet/Table1"> 
               <div class="sxfpic222">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="12%" rowspan="3">
      <xsl:element name="img">
                      <xsl:attribute name="src">
                        <xsl:value-of select="pe:GetTopProPic(PROID)"/>
                      </xsl:attribute>
                      <xsl:attribute name="border">0</xsl:attribute>
                      <xsl:attribute name="width">65</xsl:attribute>
                      <xsl:attribute name="height">65</xsl:attribute>
                    </xsl:element>
    </td>
    <td width="70%" class="hdyg2"> 
    <strong>  <a>
                <xsl:attribute name="href">
                  <xsl:value-of select="pe:VirtualPath()"/>productManage/productDetail.aspx?ID=<xsl:value-of select="ID" />
                </xsl:attribute>
                <xsl:attribute name="target">
                  _blank
                </xsl:attribute>    <xsl:value-of select="PRONAME" />
                </a></strong></td>
  <td width="18%" rowspan="3" class="escc"> <xsl:value-of select="pe:GetProtype(PROTYPE)"/></td>
  </tr>
  <tr>
       <td class="hdyg">品牌：<xsl:value-of select="BAND" />  </td>
    </tr>
  <tr>
    <td class="hdyg">产品状态：<xsl:value-of select="PROSTATUS" />  </td>
    </tr>
</table>

 </div>
            
      </xsl:for-each>
  </xsl:template>
</xsl:stylesheet>]]>
  </LabelTemplate>
  <attributes>
    <name>startRow</name>
    <datatype>int</datatype>
    <default>0</default>
  </attributes>
  <attributes>
    <name>LastRowNum</name>
    <datatype>int</datatype>
    <default>10</default>
  </attributes>
  <attributes>
    <name>PROID</name>
    <datatype>supersql</datatype>
    <default></default>
  </attributes>
  <attributes>
    <name>titleLength</name>
    <datatype>supersql</datatype>
    <default>18</default>
  </attributes>
  <attributes>
    <name>dateandtime</name>
    <datatype>supersql</datatype>
    <default>yyyy-MM-dd</default>
  </attributes>
  <LabelSqlString>
    SELECT * FROM (SELECT* FROM T_PRODUCT WHERE PROTYPE=@PROID AND STATUS=0 ) WHERE ROWNUM BETWEEN @startRow AND @LastRowNum
  </LabelSqlString>
  <LabelSqlCount>
    SELECT COUNT(*) FROM ( SELECT* FROM T_PRODUCT WHERE  PROTYPE=@PROID AND STATUS=0 ) T1
  </LabelSqlCount>
</root>