<?xml version="1.0" encoding="UTF-8"?>
<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="WP:BaseClass">
  <xsl:output method="html" version="1.0" encoding="UTF-8" indent="no"/>
  <xsl:param name="titleLength" />
  <xsl:param name="focusWidth" />
  <xsl:param name="focusHeight" />
  <xsl:template match="/">
    <xsl:choose>
      <xsl:when test="count(NewDataSet/Table1) = 0">
        <font style="color:red">还没有任何信息！</font>
      </xsl:when>
      <xsl:otherwise>
        <div id="page-wrap" class="box">
          <div class="main-photo-slider">
            <!-- big -->
            <xsl:for-each select="/NewDataSet/Table1">
              <a>
                <xsl:attribute name="href">
                  Item.aspx?ItemID=<xsl:value-of select="ID" />
                </xsl:attribute>
                <xsl:attribute name="target">
                  _blank
                </xsl:attribute>
                <xsl:element name="img">
                  <xsl:attribute name="src">
                   uploadfile/PictureSite/<xsl:value-of select="PICURL"/>
                  </xsl:attribute>
                  <xsl:attribute name="border">0</xsl:attribute>
                  <xsl:attribute name="width">520</xsl:attribute>
                  <xsl:attribute name="height">540</xsl:attribute>
                </xsl:element>
            </a>
            </xsl:for-each>  
          </div>
          <!--main-photo-slider End-->
          <div class="photo-meta-data inn">
            <!-- title -->
            <xsl:for-each select="/NewDataSet/Table1">
              <a>
                <xsl:attribute name="href">
                  Item.aspx?ItemID=<xsl:value-of select="ID" />
                </xsl:attribute>
                <xsl:attribute name="target">
                  _blank
                </xsl:attribute>
                <xsl:value-of disable-output-escaping="yes" select="pe:CutText(PRONAME,$titleLength,'…')"/>
              </a>
            </xsl:for-each>
          </div>
          <div id="movers-row">
            <!-- 缩略图 -->
            <xsl:for-each select="/NewDataSet/Table1">
             <div>
              <a>
                <xsl:attribute name="href">
                  Item.aspx?ItemID=<xsl:value-of select="ID" />
                </xsl:attribute>
                <xsl:attribute name="target">
                  _blank
                </xsl:attribute>
                <xsl:attribute name="class">
                  cross-link
                </xsl:attribute>
                <xsl:element name="img">
                  <xsl:attribute name="src">
                    uploadfile/PictureSite/<xsl:value-of select="PICURL"/>
                  </xsl:attribute>
                  <xsl:attribute name="border">0</xsl:attribute>
                </xsl:element>
              </a>
             </div>
            </xsl:for-each>
          </div>
        </div>
      </xsl:otherwise>
    </xsl:choose>
  </xsl:template>
</xsl:stylesheet>