<?xml version="1.0" encoding="utf-8"?>
<root>
  <LabelTemplate>
    <![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="WP:BaseClass">
  <xsl:output method="html" /> 
  <xsl:template match="/">
       <div class="neititle">产品类型</div>
         <div class="neititle2">
             <div class="zxgk1">
             <a>
                <xsl:attribute name="href"> 
                     <xsl:value-of select="pe:VirtualPath()"/>onmarket/RentalHouseShow.aspx
                </xsl:attribute> 
                全部
              </a> 
             </div>
                <div class="zxgk1">
                 <a>
                <xsl:attribute name="href"> 
             
                </xsl:attribute> 
                租房
              </a>   
                 </div>
                
         </div> 
  </xsl:template>
</xsl:stylesheet>]]>
  </LabelTemplate> 
</root>