<?xml version="1.0" encoding="utf-8"?>
<root>
  <LabelTemplate>
    <![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="WP:BaseClass">
  <xsl:output method="html" />
  <xsl:param name="pageTitle" select="20" />
  <xsl:template match="/"> 
                <div class="bottom-company" style="padding-top: 0px;padding-bottom:10px;">
            <div class="container">
                <div class="row">
                    <div class="span12">
                <div class="footerlogo" style="float:left;">
                <a>
                <xsl:attribute name="href">
                  <xsl:value-of select="pe:VirtualPath()"/>
                </xsl:attribute>
                <xsl:attribute name="class">
                        logo
            </xsl:attribute> 
                 <xsl:element name="img">
                 <xsl:attribute name="src">
               <xsl:value-of select="pe:VirtualPath()"/>img/footerlogo1.png
                 </xsl:attribute>
                 <xsl:attribute name="margin-right">0</xsl:attribute>
                  <xsl:attribute name="class">footer-logo</xsl:attribute>
                  <xsl:attribute name="width">309</xsl:attribute>
                  <xsl:attribute name="height">80</xsl:attribute>
                    <xsl:attribute name="alt">三星电子门锁 | 宁波汉奇电子科技有限公司</xsl:attribute>
                </xsl:element>
               </a>
                                </div>
                                
                <div class="bottom-company-text"  style="float:left;">
                <div style="font-weight:700;display:block;font-size:15px;margin-top: 6px;">宁波汉奇电子科技有限公司</div>
<div style="display:block;font-size:15px;"><span style='font-weight:700;'>体验店：宁波市江东江南路红星美凯龙一楼东厅8031、宁波市鄞州区印象城四楼K402、宁波市现代地板城B区A11号</span></div>
<div style="display:block;font-size:15px;">TEL:+86-574-8786 9567 </div>
<div style="display:block;font-size:15px;">FAX:+86-574-8786 9456</div>
                    </div>
					<div style="float: right; padding-left: 15px; border-left: 1px dashed rgb(112, 112, 112);">
    <xsl:element name="img">
                 <xsl:attribute name="src">
            <xsl:value-of select="pe:VirtualPath()"/>img/two-dimensional-code.jpg
                 </xsl:attribute>  
                    <xsl:attribute name="style"> padding-top: 10px;height：80px;</xsl:attribute> 
                </xsl:element> 
</div>
                  </div>
                </div>
            </div>
        </div>
        		         <div class="copyright-section">
        <div class="container">
     
            <div class="copyright-inner">
                <p style='text-align:left;float:left;margin-bottom:7px;'>©2014 汉奇科技版权所有 | 浙ICP备1403648</p>
<p style="float:right;text-align:right;margin-bottom:7px;">微信服务二维码</p>
 
                <div class="social"></div>            </div>
            
      
        </div>
         
        </div>
         <script type="text/javascript">
                var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
                document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F852a7f4c0a299736437dee669a4e2cfd' type='text/javascript'%3E%3C/script%3E"));
</script>

  </xsl:template>
</xsl:stylesheet>]]>
  </LabelTemplate>
  <attributes>
    <name>pageTitle</name>
    <datatype>supersql</datatype>
    <default>0</default>
  </attributes>
</root>