<?xml version="1.0" encoding="utf-8"?>
<root>
  <LabelTemplate>
    <![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="WP:BaseClass">
  <xsl:output method="html" />
  <xsl:param name="titleLength" select="20" />
  <xsl:param name="curr" select="99" />
  <xsl:template match="/"> 
    <div class="top_section">
            <div class="container">
                <div class="number">
                    +86-574-8786 9567
                </div>
                <div class="social">
                </div>
            </div>
        </div>
        <div id="header">
            <!-- Logo and Menu -->
            <div class="responsive-full">
                <div class="container">
                    <div class="navbar">
                        <div class="navbar-inner">
                            <div class="container" >
                           
                                                    <a>
                <xsl:attribute name="href">
                <xsl:value-of select="pe:VirtualPath()"/>Default.aspx
                </xsl:attribute>      
                                 <xsl:element name="img">
           <xsl:attribute name="src"> <xsl:value-of select="pe:VirtualPath()"/>img/Top1.png</xsl:attribute>
             <xsl:attribute name="alt">三星电子门锁 | 宁波汉奇电子科技有限公司</xsl:attribute>
                  <xsl:attribute name="style">margin-top:15px</xsl:attribute>
               <xsl:attribute name="width">418px</xsl:attribute>
                 <xsl:attribute name="height">44px</xsl:attribute>  
                                    </xsl:element>
                                    </a> 
                                <!-- Header menu -->
                                <ul id="menu-footer" class="nav visible-desktop">
                                    <li id="nav-menu-item-2523" class="dropdown menu-style1 menu1-c   menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-564 current_page_item">
                                     
                                                    <a>
                <xsl:attribute name="href">
                <xsl:value-of select="pe:VirtualPath()"/>Default.aspx
                </xsl:attribute>      
                首页
                </a>
                                     
                                  </li>
                                    <li id="nav-menu-item-2525" class="dropdown menu-style1 menu1-c   menu-item menu-item-type-post_type menu-item-object-page">
                                        
                                                    <a>
                <xsl:attribute name="href">
                <xsl:value-of select="pe:VirtualPath()"/>news/list.aspx?NODEID=3
                </xsl:attribute>      
                   <xsl:attribute name="class">
                   menu-link main-menu-link
                    </xsl:attribute> 
               新闻动态
                </a> </li>
                                    <li id="nav-menu-item-2619" class="dropdown menu-style1 menu1-c   menu-item menu-item-type-post_type menu-item-object-page">
                                       <a>
                <xsl:attribute name="href">
                <xsl:value-of select="pe:VirtualPath()"/>productManage/productList.aspx
                </xsl:attribute>      
                   <xsl:attribute name="class">
                   menu-link main-menu-link
                    </xsl:attribute> 
               产品中心
                </a>          </li>
                                    <li id="nav-menu-item-2738" class="dropdown menu-style1 menu1-c   menu-item menu-item-type-post_type menu-item-object-page">
                                           <a>
                <xsl:attribute name="href">
                <xsl:value-of select="pe:VirtualPath()"/>news/list.aspx?NODEID=4
                </xsl:attribute>      
                   <xsl:attribute name="class">
                   menu-link main-menu-link
                    </xsl:attribute> 
               视频中心
                </a>       </li>
                                    <li id="nav-menu-item-2524" class="dropdown menu-style1 menu1-c   menu-item menu-item-type-post_type menu-item-object-page">
                                <a>
                <xsl:attribute name="href">
                <xsl:value-of select="pe:VirtualPath()"/>centerstyle/aboutHq.aspx
                </xsl:attribute>      
                   <xsl:attribute name="class">
                   menu-link main-menu-link
                    </xsl:attribute> 
               关于汉奇
                </a>      </li>
                                 
                                 <li id="nav-menu-item-2704" class="dropdown menu-style1 menu1-c   menu-item menu-item-type-post_type menu-item-object-page">
                                
                                 <a>
                <xsl:attribute name="href">
                <xsl:value-of select="pe:VirtualPath()"/>centerstyle/contactus.aspx
                </xsl:attribute>      
                   <xsl:attribute name="class">
                   menu-link main-menu-link
                    </xsl:attribute> 
               联系我们
                </a>  
                   </li>
                                </ul>
                                <div class="menu-footer-container">
                                    <select class="nav-responsive hidden-desktop" onchange="if (this.value) window.location.href=this.value"> 
                                       <option value="http://www.nbsds.com/">首页</option>
                                        <option value=" ">新闻动态</option>
                                        <option value=" ">产品中心</option>
                                        <option value=" ">视频中心</option>
                                        <option value=" ">关于汉奇</option>
                                        <option value=" ">联系我们</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
  </xsl:template>
</xsl:stylesheet>]]>
  </LabelTemplate>
</root>