<?xml version="1.0" encoding="utf-8"?>
<root>
  <LabelTemplate>
    <![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="WP:BaseClass">
  <xsl:output method="html" />
  <xsl:param name="pageTitle" select="20" />
  <xsl:template match="/">
                    <li><a>
                <xsl:attribute name="href">
                  <xsl:value-of select="pe:VirtualPath()"/>news/list.aspx?NODEID=3
                </xsl:attribute>新闻动态</a></li>
                    <li><a>
                <xsl:attribute name="href">
                  <xsl:value-of select="pe:VirtualPath()"/>productManage/productList.aspx
                </xsl:attribute>产品中心</a></li>
                    <li><a>
                <xsl:attribute name="href">
                  <xsl:value-of select="pe:VirtualPath()"/>news/list.aspx?NODEID=4
                </xsl:attribute>视频中心</a></li>
                   
             
  </xsl:template>
</xsl:stylesheet>]]>
  </LabelTemplate>
  <attributes>
    <name>pageTitle</name>
    <datatype>supersql</datatype>
    <default>0</default>
  </attributes>
</root>