<?xml version="1.0" encoding="utf-8"?>
<root>
 
    <LabelTemplate>
        <![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="WP:BaseClass">
  <xsl:output method="html" />
  <xsl:param name="dateandtime" select="MM-dd" />
  <xsl:template match="/">
    <table width="100%" border="0" cellpadding="0" cellspacing="1" class="table112">
      <xsl:for-each select="NewDataSet/Table1">
          <tr>
            <td class="tableCo4g" width="15%">
               工作人员：
            </td>
            <td class="tableCo34g" >
               <xsl:value-of select="NAME" />
            </td>
          </tr>
      </xsl:for-each>
    </table>
  </xsl:template>
</xsl:stylesheet>]]>
    </LabelTemplate>
    <attributes>
        <name>TransactionID</name>
        <datatype>supersql</datatype>
        <default>0</default>
    </attributes>
    <LabelSqlString>SELECT T_WORKER.NAME FROM T_ENTERDISPATCHWORKER,T_WORKER WHERE T_ENTERDISPATCHWORKER.WORKERID=T_WORKER.ID AND T_ENTERDISPATCHWORKER.TRANSACTIONID = @TransactionID</LabelSqlString>
</root>