<?xml version="1.0" encoding="utf-8"?>
<root>

  <LabelTemplate>
    <![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="WP:BaseClass">
  <xsl:output method="html" />
  <xsl:param name="dateandtime" select="MM-dd" />
  <xsl:template match="/">
      <xsl:for-each select="NewDataSet/Table1">
        <xsl:choose>
                  <xsl:when test="JTDBJ != '0'">
          <table width="100%" border="0" cellpadding="0" cellspacing="1" class="table112">
         
          <tr>
            <td class="tableCo4g">
               <xsl:choose>
                <xsl:when test="TDLX = '1'">
                  企业操作：
                </xsl:when>
                  <xsl:when test="TDLX = '2'">
                  客户操作：
                </xsl:when>
                <xsl:otherwise>
                 平台操作：
                </xsl:otherwise>
              </xsl:choose>
            </td>
            <td class="tableCo34g" colspan='3'>
             <xsl:choose>
                  <xsl:when test="JTDBJ = '1'">
                    接收订单
                  </xsl:when>
                  <xsl:when test="JTDBJ = '0'">
                   未处理订单
                  </xsl:when>
                  <xsl:otherwise>
                   取消订单
                  </xsl:otherwise>
                </xsl:choose>
             
            </td>
           
          </tr>
           <tr>
            <td class="tableCo4g" width="15%">
              处理人员：
            </td>
          <td class="tableCo34g" width="30%" >
               <xsl:value-of select="JTDUSER" />
            </td>
            <td class="tableCo4g" width="15%">
               处理时间：
            </td>
           <td class="tableCo34g" width="30%" >
              <xsl:value-of select="pe:GetDateTime(JTDTIME,'yyyy-MM-dd hh:mm:ss')" />
            </td>
          </tr>
            <xsl:choose>
                <xsl:when test="JTDBJ = '-1'">
              <tr>
              <td class="tableCo4g">
                    退单原因：
              </td>
              <td class="tableCo34g" colspan='3'>
                   <xsl:value-of select="TDLY" />
              </td>
           
            </tr>
               </xsl:when>
                 </xsl:choose>
        </table>
        </xsl:when>
                 </xsl:choose>
      </xsl:for-each>
  </xsl:template>
</xsl:stylesheet>]]>
  </LabelTemplate>
  <attributes>
    <name>SN</name>
    <datatype>supersql</datatype>
    <default>0</default>
  </attributes>
  <LabelSqlString>SELECT * FROM T_ENTERPRISE_ORDERLIST WHERE SN = @SN</LabelSqlString>
</root>