<?xml version="1.0" encoding="utf-8"?>
<root>

  <LabelTemplate>
    <![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="WP:BaseClass">
  <xsl:output method="html" />
  <xsl:param name="dateandtime" select="MM-dd" />
  <xsl:template match="/">
      <xsl:for-each select="NewDataSet/Table1">
       <xsl:choose>
                <xsl:when test="PJBJ = '1'">
         <table width="100%" border="0" cellpadding="0" cellspacing="1" class="table112">
          <tr>
            <td class="tableCo4g" width="15%">
               满意度：
            </td>
            <td class="tableCo34g"  colspan="3">
               <xsl:value-of select="VVALUE" />
            </td>
          </tr>
            <tr>
            <td class="tableCo4g" width="15%">
               是否上门服务：
            </td>
            <td class="tableCo34g">
               <xsl:choose>
                <xsl:when test="ISSERVED = '1'">
                是
                 </xsl:when>
              <xsl:otherwise>
                  否
                  </xsl:otherwise>
                 </xsl:choose>
            </td>
            <td class="tableCo4g" width="15%">
               是否持三联单：
            </td>
            <td class="tableCo34g">
              <xsl:choose>
                <xsl:when test="ISTHREE = '1'">
                是
                 </xsl:when>
              <xsl:otherwise>
                  否
                  </xsl:otherwise>
                 </xsl:choose>
            </td>
          </tr>
          <tr>
            <td class="tableCo4g" width="15%">
               评语：
            </td>
            <td class="tableCo34g"  colspan="3">
               <xsl:value-of select="SERVREMARK" />
            </td>
          </tr>
    
        </table>
           </xsl:when>
                 </xsl:choose>
      </xsl:for-each>
  </xsl:template>
</xsl:stylesheet>]]>
  </LabelTemplate>
  <attributes>
    <name>SN</name>
    <datatype>supersql</datatype>
    <default>0</default>
  </attributes>
  <LabelSqlString>SELECT PJBJ,VVALUE,ISSERVED,ISTHREE,SERVREMARK FROM T_ENTERPRISE_ORDERLIST,T_ServiceTracing,ST_SATISFACTION where SERVSATISFACTION=CODE AND sn=transactionid and SN = @SN</LabelSqlString>
</root>