<?xml version="1.0" encoding="utf-8"?>
<root>

  <LabelTemplate>
    <![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="WP:BaseClass">
  <xsl:output method="html" />
  <xsl:param name="dateandtime" select="MM-dd" />
  <xsl:template match="/">
      <xsl:for-each select="NewDataSet/Table1">
       <xsl:choose>
                <xsl:when test="WCBJ = '1'">
         <table width="100%" border="0" cellpadding="0" cellspacing="1" class="table112">
          <tr>
            <td class="tableCo4g" width="15%">
               最终服务时间：
            </td>
            <td class="tableCo34g" width="30%" >
             <xsl:value-of select="ZZFWSJ" />
            </td>
            <td class="tableCo4g" width="15%">
               最终服务价格：
            </td>
            <td class="tableCo34g"  width="30%">
            <xsl:value-of select="ZZFWJG" />
            </td>
          </tr>
          <tr>
           
            <td class="tableCo4g" width="15%" >
               服务情况描述：
            </td>
            <td class="tableCo34g" colspan="3">
              <xsl:value-of select="FWQKMS" />
            </td>
          </tr>
        </table>
           </xsl:when>
                 </xsl:choose>
      </xsl:for-each>
  </xsl:template>
</xsl:stylesheet>]]>
  </LabelTemplate>
  <attributes>
    <name>SN</name>
    <datatype>supersql</datatype>
    <default>0</default>
  </attributes>
  <LabelSqlString>SELECT * FROM T_ENTERPRISE_ORDERLIST WHERE SN = @SN</LabelSqlString>
</root>