<?xml version="1.0" encoding="utf-8"?>
<root>

  <LabelTemplate>
    <![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="WP:BaseClass">
  <xsl:output method="html" />
  <xsl:param name="titleLength" select="20" />
  <xsl:template match="/">
    
    
    <div class="hysyLeft" >
            <div class="hysytitle">
                   <a>
                <xsl:attribute name="href">
                  <xsl:value-of select="pe:VirtualPath()"/>memberManage/User/Default.aspx
                </xsl:attribute>会员首页</a></div>
             
         <xsl:element name="iframe">
           <xsl:attribute name="name">leftframe</xsl:attribute>
           <xsl:attribute name="src"><xsl:value-of select="pe:VirtualPath()"/>memberManage/User/LoginInfo.aspx</xsl:attribute>
           <xsl:attribute name="frameborder">no</xsl:attribute>
           <xsl:attribute name="allowtransparency">true</xsl:attribute>
           <xsl:attribute name="width">235</xsl:attribute>
           <xsl:attribute name="scrolling">no</xsl:attribute>
           <xsl:attribute name="height">35</xsl:attribute>
           <xsl:attribute name="marginwidth">0</xsl:attribute>
           <xsl:attribute name="marginheight">0</xsl:attribute>
         </xsl:element>
        <div class="hysybiaoti">
                <div class="hysybiaoti1">
                    <table width="70%" border="0" cellspacing="0" cellpadding="0" align="center">
                        <tr>
                            <td align="center">
                                <img src="../images/index_89.jpg" width="36" height="36" />
                            </td>
                            <td>
                            <a>
                <xsl:attribute name="href">
                  <xsl:value-of select="pe:VirtualPath()"/>memberManage/Transaction/Default.aspx
                </xsl:attribute>订单管理</a>
                               
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="hysybiaoti1">
                    <table width="70%" border="0" cellspacing="0" cellpadding="0" align="center">
                        <tr>
                            <td align="center">
                                <img src="../images/index_90.jpg" width="36" height="36" />
                            </td>
                            <td>
                                <a>
                <xsl:attribute name="href">
                  <xsl:value-of select="pe:VirtualPath()"/>memberManage/helponline/Default.aspx
                </xsl:attribute>在线求助</a>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="hysybiaoti1">
                    <table width="70%" border="0" cellspacing="0" cellpadding="0" align="center">
                        <tr>
                            <td align="center">
                                <img src="../images/index_91.jpg" width="36" height="36" />
                            </td>
                            <td>
                              <a>
                <xsl:attribute name="href">
                <xsl:value-of select="pe:VirtualPath()"/>memberManage/onmarketmember/RentalUserList.aspx
                              </xsl:attribute>网上市场</a> 
                            </td>
                        </tr>
                    </table>
                </div>
               <xsl:for-each select="NewDataSet/Table1">
                <xsl:choose>
                <xsl:when test="ISBLIND = 1">
               
                <div class="hysybiaoti1">
                    <table width="70%" border="0" cellspacing="0" cellpadding="0" align="center">
                        <tr>
                            <td align="center">
                                <img src="../images/index_92.jpg" width="36" height="36" />
                            </td>
                            <td>
                                 <a>
                <xsl:attribute name="href">
                  <xsl:value-of select="pe:VirtualPath()"/>memberManage/Blind/BlindSel.aspx
                </xsl:attribute>网上相亲</a>
                               
                            </td>
                        </tr>
                    </table>
                </div>
                   <div class="hysybiaoti1">
                    <table width="70%" border="0" cellspacing="0" cellpadding="0" align="center">
                        <tr>
                            <td align="center" width="40%">
                                <img src="../images/index_933.jpg" width="36" height="36" />
                            </td>
                            <td width="60%">
                               <a>
                <xsl:attribute name="href">
                  <xsl:value-of select="pe:VirtualPath()"/>memberManage/Blind/BlindActityList.aspx
                </xsl:attribute>相亲活动 </a>
                            </td>
                        </tr>
                    </table>
                </div>
                  <div class="hysybiaoti1">
                    <table width="70%" border="0" cellspacing="0" cellpadding="0" align="center">
                        <tr>
                            <td align="center" width="40%">
                                <img src="../images/index_933c.jpg" width="36" height="36" />
                            </td>
                            <td width="60%">
                               <a>
                <xsl:attribute name="href">
                  <xsl:value-of select="pe:VirtualPath()"/>memberManage/Blind/BlindMsgList.aspx
                </xsl:attribute>想认识我</a>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="hysybiaoti1">
                    <table width="70%" border="0" cellspacing="0" cellpadding="0" align="center">
                        <tr>
                            <td align="center" width="40%">
                                <img src="../images/index_933cc.jpg" width="36" height="36" />
                            </td>
                            <td width="60%">
                               <a>
                <xsl:attribute name="href">
                  <xsl:value-of select="pe:VirtualPath()"/>memberManage/Blind/BlindNewsList.aspx
                </xsl:attribute>晒幸福 </a>
                            </td>
                        </tr>
                    </table>
                </div>
               
               </xsl:when>
                 </xsl:choose>
   </xsl:for-each>
            </div>
              
            <div class="mima">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td align="center">
                        <a>
                <xsl:attribute name="href">
                 <xsl:value-of select="pe:VirtualPath()"/>memberManage/User/ChangePassWord.aspx
                </xsl:attribute>密码修改</a>
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                             <a>
                <xsl:attribute name="href">
                 <xsl:value-of select="pe:VirtualPath()"/>memberManage/User/ChangeInfo.aspx
                </xsl:attribute>资料修改</a>
                         
                        </td>
                    </tr>
                </table>
            </div>
        </div>
           
  </xsl:template>
</xsl:stylesheet>]]>
  </LabelTemplate>
  <attributes>
    <name>UserName</name>
    <datatype>supersql</datatype>
    <default>0</default>
  </attributes>
  <LabelSqlString>
    select COUNT(*) as ISBLIND from SYS_USER_BLIND  where VAR_ZH=@UserName
  </LabelSqlString>
</root>