<?xml version="1.0" encoding="utf-8"?>
<map>
  <class name="T_BLINDSIGNEntity" table="T_BLINDSIGN" database="JH8890">
    <attribute name="ID" column="ID" type="Decimal" key="primary" />
    <attribute name="MEMBERID" column="MEMBERID" type="Decimal" />
    <attribute name="ACTIVITYID" column="ACTIVITYID" type="Decimal" />
    <attribute name="LINKNAME" column="LINKNAME" type="String" />
    <attribute name="TELEPHONE" column="TELEPHONE" type="String" />
    <attribute name="STATUS" column="STATUS" type="Decimal" />
    <attribute name="USERNMAE" column="USERNMAE" type="String" />
    <attribute name="CHECKTIME" column="CHECKTIME" type="Date" />
  </class>
  <class name="T_BLINDMSGEntity" table="T_BLINDMSG" database="JH8890">
    <attribute name="ID" column="ID" type="Decimal" key="primary" />
    <attribute name="FROMBLINDID" column="FROMBLINDID" type="Decimal" />
    <attribute name="TOBLINDID" column="TOBLINDID" type="Decimal" />
    <attribute name="MSG" column="MSG" type="String" />
  </class>
  <class name="T_BLINDNEWSPICEntity" table="T_BLINDNEWSPIC" database="JH8890">
    <attribute name="ID" column="ID" type="Decimal" key="primary" />
    <attribute name="BLINDNEWSID" column="BLINDNEWSID" type="Decimal" />
    <attribute name="PICINFO" column="PICINFO" type="String" />
    <attribute name="PICURL" column="PICURL" type="String" />
    <attribute name="STATUS" column="STATUS" type="Decimal" />
  </class>
  <class name="SYS_USER_ENTEREntity" table="SYS_USER_ENTER" database="JH8890">
    <attribute name="NB_ID" column="NB_ID" type="Decimal" key="primary" />
    <attribute name="VAR_ZH" column="VAR_ZH" type="String" />
    <attribute name="NB_ENTERID" column="NB_ENTERID" type="Decimal" />
    <attribute name="DT_ADD_TIME" column="DT_ADD_TIME" type="Date" />
    <attribute name="VAR_ADD_REMARK" column="VAR_ADD_REMARK" type="String" />
    <attribute name="NB_ZT" column="NB_ZT" type="Decimal" />
  </class>
  <class name="T_ENTERPRISE_ORDERLISTEntity" table="T_ENTERPRISE_ORDERLIST" database="JH8890">
    <attribute name="ID" column="ID" type="Decimal" key="primary" />
    <attribute name="SN" column="SN" type="String" />
    <attribute name="ORDERTYPE" column="ORDERTYPE" type="String" />
    <attribute name="SERVICENAME" column="SERVICENAME" type="String" />
    <attribute name="ENTERPRISEID" column="ENTERPRISEID" type="Decimal" />
    <attribute name="ENTERPRISENAME" column="ENTERPRISENAME" type="String" />
    <attribute name="USERID" column="USERID" type="String" />
    <attribute name="LOGINNAME" column="LOGINNAME" type="String" />
    <attribute name="USERNAME" column="USERNAME" type="String" />
    <attribute name="MOBILE" column="MOBILE" type="String" />
    <attribute name="OTHERPHONE" column="OTHERPHONE" type="String" />
    <attribute name="ADDRESS" column="ADDRESS" type="String" />
    <attribute name="ORDERTIME" column="ORDERTIME" type="Date" />
    <attribute name="FWFS" column="FWFS" type="String" />
    <attribute name="FWYQ" column="FWYQ" type="String" />
    <attribute name="FWBZ" column="FWBZ" type="String" />
    <attribute name="JTDBJ" column="JTDBJ" type="Decimal" />
    <attribute name="JTDTIME" column="JTDTIME" type="Date" />
    <attribute name="JTDUSER" column="JTDUSER" type="String" />
    <attribute name="TDLY" column="TDLY" type="String" />
    <attribute name="TDLX" column="TDLX" type="Decimal" />
    <attribute name="WCBJ" column="WCBJ" type="Decimal" />
    <attribute name="WCTIME" column="WCTIME" type="Date" />
    <attribute name="WCUSER" column="WCUSER" type="String" />
    <attribute name="FWQKMS" column="FWQKMS" type="String" />
    <attribute name="ZZFWSJ" column="ZZFWSJ" type="String" />
    <attribute name="ZZFWJG" column="ZZFWJG" type="String" />
    <attribute name="PJBJ" column="PJBJ" type="Decimal" />
    <attribute name="PJSJ" column="PJSJ" type="Date" />
    <attribute name="SHBJ" column="SHBJ" type="Decimal" />
    <attribute name="SHSJ" column="SHSJ" type="Date" />
    <attribute name="STATUS" column="STATUS" type="Decimal" />
  </class>
  <class name="T_SERVICEENTERPRISEEntity" table="T_SERVICEENTERPRISE" database="JH8890">
    <attribute name="ID" column="ID" type="Decimal" key="primary" />
    <attribute name="TRANSACTORID" column="TRANSACTORID" type="String" />
    <attribute name="TRANSACTIONID" column="TRANSACTIONID" type="String" />
    <attribute name="ENTERPRISEID" column="ENTERPRISEID" type="Decimal" />
    <attribute name="ISVOLUNTEER" column="ISVOLUNTEER" type="String" />
    <attribute name="DEALTIME" column="DEALTIME" type="Date" />
    <attribute name="ISROUTER" column="ISROUTER" type="String" />
    <attribute name="HASTRACED" column="HASTRACED" type="String" />
    <attribute name="ISSERVICE" column="ISSERVICE" type="String" />
    <attribute name="REMARK" column="REMARK" type="String" />
    <attribute name="ISBACK" column="ISBACK" type="String" />
    <attribute name="ENTERTYPE" column="ENTERTYPE" type="Decimal" />
    <attribute name="OWNMONEY" column="OWNMONEY" type="String" />
    <attribute name="ISASSISTANCER" column="ISASSISTANCER" type="String" />
    <attribute name="ASSISTANCERID" column="ASSISTANCERID" type="Decimal" />
    <attribute name="HAVEMONEY" column="HAVEMONEY" type="Decimal" />
    <attribute name="SERVICETIME" column="SERVICETIME" type="Decimal" />
  </class>
  <class name="T_SERVICETRACINGEntity" table="T_SERVICETRACING" database="JH8890">
    <attribute name="ID" column="ID" type="Decimal" key="primary" />
    <attribute name="TRANSACTIONID" column="TRANSACTIONID" type="String" />
    <attribute name="ISROUTER" column="ISROUTER" type="String" />
    <attribute name="ENTERPRISEID" column="ENTERPRISEID" type="Decimal" />
    <attribute name="TRANSACTORID" column="TRANSACTORID" type="String" />
    <attribute name="TRACETIME" column="TRACETIME" type="Date" />
    <attribute name="TRACETYPE" column="TRACETYPE" type="String" />
    <attribute name="TRACERESULT" column="TRACERESULT" type="String" />
    <attribute name="TRACEREMARK" column="TRACEREMARK" type="String" />
    <attribute name="SERVTIME" column="SERVTIME" type="Date" />
    <attribute name="SERVSCORE" column="SERVSCORE" type="String" />
    <attribute name="ISSERVED" column="ISSERVED" type="String" />
    <attribute name="ISTHREE" column="ISTHREE" type="String" />
    <attribute name="SERVTIMED" column="SERVTIMED" type="String" />
    <attribute name="SERVQUALITY" column="SERVQUALITY" type="String" />
    <attribute name="SERVPRICE" column="SERVPRICE" type="String" />
    <attribute name="SERVSATISFACTION" column="SERVSATISFACTION" type="String" />
    <attribute name="SERVREMARK" column="SERVREMARK" type="String" />
    <attribute name="STATUS" column="STATUS" type="Decimal" />
  </class>
  <class name="T_TRANSACTIONBACKEntity" table="T_TRANSACTIONBACK" database="JH8890">
    <attribute name="ID" column="ID" type="Decimal" key="primary" />
    <attribute name="TRANSACTIONID" column="TRANSACTIONID" type="String" />
    <attribute name="TARGETAREACODE" column="TARGETAREACODE" type="String" />
    <attribute name="TRANSACTIONTYPE" column="TRANSACTIONTYPE" type="Decimal" />
    <attribute name="TRANSACTIONSORT" column="TRANSACTIONSORT" type="String" />
    <attribute name="HELPTIME" column="HELPTIME" type="Date" />
    <attribute name="HELPCONTENT" column="HELPCONTENT" type="String" />
    <attribute name="REPLYCONTENT" column="REPLYCONTENT" type="String" />
    <attribute name="REPLYTIME" column="REPLYTIME" type="Date" />
    <attribute name="TRANSACTORID" column="TRANSACTORID" type="String" />
    <attribute name="ORGCODE" column="ORGCODE" type="String" />
    <attribute name="STATUS" column="STATUS" type="Decimal" />
    <attribute name="CALLED" column="CALLED" type="String" />
    <attribute name="SESSIONID" column="SESSIONID" type="String" />
    <attribute name="FILEPATH" column="FILEPATH" type="String" />
    <attribute name="TYPICALFLAG" column="TYPICALFLAG" type="Decimal" />
    <attribute name="NETSHOW" column="NETSHOW" type="Decimal" />
    <attribute name="ISOLDMAN" column="ISOLDMAN" type="Decimal" />
    <attribute name="ISEFFECT" column="ISEFFECT" type="Decimal" />
    <attribute name="ISCOMINGCALL" column="ISCOMINGCALL" type="Decimal" />
    <attribute name="RELATIONTRANSID" column="RELATIONTRANSID" type="String" />
    <attribute name="LOCALFILEPATH" column="LOCALFILEPATH" type="String" />
    <attribute name="TYPEREMARK" column="TYPEREMARK" type="String" />
    <attribute name="IFSH" column="IFSH" type="Decimal" />
    <attribute name="TORGCODE" column="TORGCODE" type="String" />
    <attribute name="BJORGCODE" column="BJORGCODE" type="String" />
    <attribute name="IFXP" column="IFXP" type="Decimal" />
    <attribute name="IFYJXP" column="IFYJXP" type="Decimal" />
    <attribute name="IFSB" column="IFSB" type="Decimal" />
    <attribute name="OPERATIONTIME" column="OPERATIONTIME" type="Date" />
    <attribute name="YCRESULT" column="YCRESULT" type="Decimal" />
    <attribute name="AREACODE" column="AREACODE" type="String" />
    <attribute name="QUERYTYPE" column="QUERYTYPE" type="String" />
    <attribute name="CUSTOMERTYPE" column="CUSTOMERTYPE" type="String" />
    <attribute name="CALLTEL" column="CALLTEL" type="String" />
    <attribute name="NAME" column="NAME" type="String" />
    <attribute name="SEX" column="SEX" type="String" />
    <attribute name="ADDRESS" column="ADDRESS" type="String" />
  </class>
  <class name="T_TRANSACTIONINFOEntity" table="T_TRANSACTIONINFO" database="JH8890">
    <attribute name="ID" column="ID" type="Decimal" key="primary" />
    <attribute name="TRANSACTIONID" column="TRANSACTIONID" type="String" />
    <attribute name="QUERYTYPE" column="QUERYTYPE" type="String" />
    <attribute name="CALLTEL" column="CALLTEL" type="String" />
    <attribute name="NAME" column="NAME" type="String" />
    <attribute name="SEX" column="SEX" type="String" />
    <attribute name="WORKPLACE" column="WORKPLACE" type="String" />
    <attribute name="ADDRESS" column="ADDRESS" type="String" />
    <attribute name="OTHERLINK" column="OTHERLINK" type="String" />
    <attribute name="REMARK" column="REMARK" type="String" />
    <attribute name="CUSTOMERTYPE" column="CUSTOMERTYPE" type="String" />
    <attribute name="LONGUTIDE" column="LONGUTIDE" type="String" />
    <attribute name="LATITUDE" column="LATITUDE" type="String" />
    <attribute name="AREACODE" column="AREACODE" type="String" />
  </class>
  <class name="SYS_BASE_USERSEntity" table="SYS_BASE_USERS" database="JH8890">
    <attribute name="NB_ID" column="NB_ID" type="Decimal" key="primary" />
    <attribute name="VAR_NICK_NAME" column="VAR_NICK_NAME" type="String" />
    <attribute name="VAR_ZH" column="VAR_ZH" type="String" />
    <attribute name="VAR_PHONE" column="VAR_PHONE" type="String" />
    <attribute name="VAR_MM" column="VAR_MM" type="String" />
    <attribute name="VAR_SEX" column="VAR_SEX" type="String" />
    <attribute name="VAR_REAL_NAME" column="VAR_REAL_NAME" type="String" />
    <attribute name="VAR_OTHERPHONE" column="VAR_OTHERPHONE" type="String" />
    <attribute name="VAR_ICARD" column="VAR_ICARD" type="String" />
    <attribute name="NB_LY" column="NB_LY" type="Decimal" />
    <attribute name="VAR_HEADURL" column="VAR_HEADURL" type="String" />
    <attribute name="DT_ADD_TIME" column="DT_ADD_TIME" type="Date" />
    <attribute name="VAR_ADD_REMARK" column="VAR_ADD_REMARK" type="String" />
    <attribute name="NB_ZT" column="NB_ZT" type="Decimal" />
  </class>
  <class name="SYS_USER_BLINDEntity" table="SYS_USER_BLIND" database="JH8890">
    <attribute name="NB_ID" column="NB_ID" type="Decimal" key="primary" />
    <attribute name="VAR_ZH" column="VAR_ZH" type="String" />
    <attribute name="NB_BLINDID" column="NB_BLINDID" type="Decimal" />
    <attribute name="DT_ADD_TIME" column="DT_ADD_TIME" type="Date" />
    <attribute name="VAR_ADD_REMARK" column="VAR_ADD_REMARK" type="String" />
    <attribute name="NB_ZT" column="NB_ZT" type="Decimal" />
  </class>
  <class name="SYS_USER_DOCTOREntity" table="SYS_USER_DOCTOR" database="JH8890">
    <attribute name="NB_ID" column="NB_ID" type="Decimal" key="primary" />
    <attribute name="VAR_ZH" column="VAR_ZH" type="String" />
    <attribute name="NB_DOCTORID" column="NB_DOCTORID" type="Decimal" />
    <attribute name="DT_ADD_TIME" column="DT_ADD_TIME" type="Date" />
    <attribute name="VAR_ADD_REMARK" column="VAR_ADD_REMARK" type="String" />
    <attribute name="NB_ZT" column="NB_ZT" type="Decimal" />
  </class>
  <class name="SYS_USER_LAWEntity" table="SYS_USER_LAW" database="JH8890">
    <attribute name="NB_ID" column="NB_ID" type="Decimal" key="primary" />
    <attribute name="VAR_ZH" column="VAR_ZH" type="String" />
    <attribute name="NB_LAWID" column="NB_LAWID" type="Decimal" />
    <attribute name="DT_ADD_TIME" column="DT_ADD_TIME" type="Date" />
    <attribute name="VAR_ADD_REMARK" column="VAR_ADD_REMARK" type="String" />
    <attribute name="NB_ZT" column="NB_ZT" type="Decimal" />
  </class>
  <class name="T_BLINDACTIVITYEntity" table="T_BLINDACTIVITY" database="JH8890">
    <attribute name="ID" column="ID" type="Decimal" key="primary" />
    <attribute name="TITLE" column="TITLE" type="String" />
    <attribute name="HITS" column="HITS" type="Decimal" />
    <attribute name="CONTENT" column="CONTENT" type="String" />
    <attribute name="ACTIVITYTIME" column="ACTIVITYTIME" type="String" />
    <attribute name="ADDRESS" column="ADDRESS" type="String" />
    <attribute name="SIGNTIME" column="SIGNTIME" type="String" />
    <attribute name="STATUS" column="STATUS" type="Decimal" />
    <attribute name="USERNAME" column="USERNAME" type="String" />
    <attribute name="INSERTTIME" column="INSERTTIME" type="Date" />
  </class>
  <class name="T_BLINDMEMBEREntity" table="T_BLINDMEMBER" database="JH8890">
    <attribute name="ID" column="ID" type="Decimal" key="primary" />
    <attribute name="BLINDSN" column="BLINDSN" type="String" />
    <attribute name="NAME" column="NAME" type="String" />
    <attribute name="SEX" column="SEX" type="String" />
    <attribute name="BIRTHDAY" column="BIRTHDAY" type="Date" />
    <attribute name="AGE" column="AGE" type="Decimal" />
    <attribute name="MARRYHIS" column="MARRYHIS" type="String" />
    <attribute name="PICURL" column="PICURL" type="String" />
    <attribute name="EDULV" column="EDULV" type="String" />
    <attribute name="IDCARDNUM" column="IDCARDNUM" type="String" />
    <attribute name="QQCODE" column="QQCODE" type="String" />
    <attribute name="WXCODE" column="WXCODE" type="String" />
    <attribute name="COMPANY" column="COMPANY" type="String" />
    <attribute name="IDENTITY" column="IDENTITY" type="String" />
    <attribute name="DISTRICT" column="DISTRICT" type="String" />
    <attribute name="ADDRESS" column="ADDRESS" type="String" />
    <attribute name="TELEPHONE" column="TELEPHONE" type="String" />
    <attribute name="INCOMING" column="INCOMING" type="Decimal" />
    <attribute name="HEIGHT" column="HEIGHT" type="Decimal" />
    <attribute name="WEIGHT" column="WEIGHT" type="Decimal" />
    <attribute name="CHARACTOR" column="CHARACTOR" type="String" />
    <attribute name="HOBBY" column="HOBBY" type="String" />
    <attribute name="AGEDOWN" column="AGEDOWN" type="Decimal" />
    <attribute name="AGEUP" column="AGEUP" type="Decimal" />
    <attribute name="HEIGHTDOWN" column="HEIGHTDOWN" type="Decimal" />
    <attribute name="HEIGHTUP" column="HEIGHTUP" type="Decimal" />
    <attribute name="WEIGHTDOWN" column="WEIGHTDOWN" type="Decimal" />
    <attribute name="WEIGHTUP" column="WEIGHTUP" type="Decimal" />
    <attribute name="INCOMINGDOWN" column="INCOMINGDOWN" type="Decimal" />
    <attribute name="INCOMINGUP" column="INCOMINGUP" type="Decimal" />
    <attribute name="DISCONDITIONS" column="DISCONDITIONS" type="String" />
    <attribute name="OTHERREQUIRE" column="OTHERREQUIRE" type="String" />
    <attribute name="INTRODUCE" column="INTRODUCE" type="String" />
    <attribute name="ENTERTIME" column="ENTERTIME" type="Date" />
    <attribute name="USERNAME" column="USERNAME" type="String" />
    <attribute name="INSERTTIME" column="INSERTTIME" type="Date" />
    <attribute name="STATUS" column="STATUS" type="Decimal" />
  </class>
  <class name="T_BLINDNEWSEntity" table="T_BLINDNEWS" database="JH8890">
    <attribute name="ID" column="ID" type="Decimal" key="primary" />
    <attribute name="TITLE" column="TITLE" type="String" />
    <attribute name="INSERTTIME" column="INSERTTIME" type="Date" />
    <attribute name="HITS" column="HITS" type="Decimal" />
    <attribute name="CONTENT" column="CONTENT" type="String" />
    <attribute name="MEMBERID" column="MEMBERID" type="Decimal" />
    <attribute name="STATUS" column="STATUS" type="Decimal" />
    <attribute name="USERNAME" column="USERNAME" type="String" />
    <attribute name="CHECKTIME" column="CHECKTIME" type="Date" />
  </class>
  <class name="T_DOCTORHELPEntity" table="T_DOCTORHELP" database="JH8890">
    <attribute name="ID" column="ID" type="Decimal" key="primary" />
    <attribute name="HELPTIME" column="HELPTIME" type="Date" />
    <attribute name="HELPCONTENT" column="HELPCONTENT" type="String" />
    <attribute name="NAME" column="NAME" type="String" />
    <attribute name="SEX" column="SEX" type="String" />
    <attribute name="TELEPHONE" column="TELEPHONE" type="String" />
    <attribute name="DOCTORID" column="DOCTORID" type="Decimal" />
    <attribute name="REPLYTIME" column="REPLYTIME" type="Date" />
    <attribute name="REPLYCONTENT" column="REPLYCONTENT" type="String" />
    <attribute name="STATUS" column="STATUS" type="Decimal" />
    <attribute name="USERNAME" column="USERNAME" type="String" />
    <attribute name="CHECKTIME" column="CHECKTIME" type="Date" />
  </class>
  <class name="T_DOCTORHELPPICEntity" table="T_DOCTORHELPPIC" database="JH8890">
    <attribute name="ID" column="ID" type="Decimal" key="primary" />
    <attribute name="DOCTORHELPID" column="DOCTORHELPID" type="Decimal" />
    <attribute name="PICURL" column="PICURL" type="String" />
  </class>
  <class name="T_DOCTORINFOEntity" table="T_DOCTORINFO" database="JH8890">
    <attribute name="ID" column="ID" type="Decimal" key="primary" />
    <attribute name="NAME" column="NAME" type="String" />
    <attribute name="SEX" column="SEX" type="String" />
    <attribute name="HOSPITAL" column="HOSPITAL" type="String" />
    <attribute name="DEPARTMENT" column="DEPARTMENT" type="String" />
    <attribute name="TITLE" column="TITLE" type="String" />
    <attribute name="INTRODUCE" column="INTRODUCE" type="String" />
    <attribute name="PICURL" column="PICURL" type="String" />
    <attribute name="ISSUPPORTONLINE" column="ISSUPPORTONLINE" type="Decimal" />
    <attribute name="QQCODE" column="QQCODE" type="String" />
    <attribute name="ISONLINE" column="ISONLINE" type="Decimal" />
    <attribute name="STATUS" column="STATUS" type="Decimal" />
    <attribute name="USERNAME" column="USERNAME" type="String" />
    <attribute name="INSERTTIME" column="INSERTTIME" type="Date" />
  </class>
  <class name="T_JOBWANTEDEntity" table="T_JOBWANTED" database="JH8890">
    <attribute name="ID" column="ID" type="Decimal" key="primary" />
    <attribute name="TITLE" column="TITLE" type="String" />
    <attribute name="JOBTYPE" column="JOBTYPE" type="String" />
    <attribute name="SALARY" column="SALARY" type="String" />
    <attribute name="NAME" column="NAME" type="String" />
    <attribute name="SEX" column="SEX" type="String" />
    <attribute name="BIRTHYEAR" column="BIRTHYEAR" type="String" />
    <attribute name="BIRTHMONEY" column="BIRTHMONEY" type="String" />
    <attribute name="AGE" column="AGE" type="Decimal" />
    <attribute name="RESIDENCE" column="RESIDENCE" type="String" />
    <attribute name="WORKPLACE" column="WORKPLACE" type="String" />
    <attribute name="TELEPHONE" column="TELEPHONE" type="String" />
    <attribute name="INTRODUCE" column="INTRODUCE" type="String" />
    <attribute name="NATIVE" column="NATIVE" type="String" />
    <attribute name="STATUS" column="STATUS" type="Decimal" />
    <attribute name="MEMBERID" column="MEMBERID" type="Decimal" />
    <attribute name="INSERTTIME" column="INSERTTIME" type="Date" />
    <attribute name="CHECKTIME" column="CHECKTIME" type="Date" />
    <attribute name="USERNAME" column="USERNAME" type="String" />
  </class>
  <class name="T_LAWHELPEntity" table="T_LAWHELP" database="JH8890">
    <attribute name="ID" column="ID" type="Decimal" key="primary" />
    <attribute name="HELPTIME" column="HELPTIME" type="Date" />
    <attribute name="HELPCONTENT" column="HELPCONTENT" type="String" />
    <attribute name="NAME" column="NAME" type="String" />
    <attribute name="SEX" column="SEX" type="String" />
    <attribute name="TELEPHONE" column="TELEPHONE" type="String" />
    <attribute name="LAWID" column="LAWID" type="Decimal" />
    <attribute name="REPLYTIME" column="REPLYTIME" type="Date" />
    <attribute name="REPLYCONTENT" column="REPLYCONTENT" type="String" />
    <attribute name="STATUS" column="STATUS" type="Decimal" />
    <attribute name="USERNAME" column="USERNAME" type="String" />
    <attribute name="CHECKTIME" column="CHECKTIME" type="Date" />
  </class>
  <class name="T_LAWHELPPICEntity" table="T_LAWHELPPIC" database="JH8890">
    <attribute name="ID" column="ID" type="Decimal" key="primary" />
    <attribute name="LAWHELPID" column="LAWHELPID" type="Decimal" />
    <attribute name="PICURL" column="PICURL" type="String" />
  </class>
  <class name="T_LAWINFOEntity" table="T_LAWINFO" database="JH8890">
    <attribute name="ID" column="ID" type="Decimal" key="primary" />
    <attribute name="NAME" column="NAME" type="String" />
    <attribute name="SEX" column="SEX" type="String" />
    <attribute name="LAWOFFICE" column="LAWOFFICE" type="String" />
    <attribute name="LAWCODE" column="LAWCODE" type="String" />
    <attribute name="INTRODUCE" column="INTRODUCE" type="String" />
    <attribute name="PICURL" column="PICURL" type="String" />
    <attribute name="ISSUPPORTONLINE" column="ISSUPPORTONLINE" type="Decimal" />
    <attribute name="QQCODE" column="QQCODE" type="String" />
    <attribute name="ISONLINE" column="ISONLINE" type="Decimal" />
    <attribute name="STATUS" column="STATUS" type="Decimal" />
    <attribute name="USERNAME" column="USERNAME" type="String" />
    <attribute name="INSERTTIME" column="INSERTTIME" type="Date" />
  </class>
  <class name="T_NEWSBASEEntity" table="T_NEWSBASE" database="JH8890">
    <attribute name="ID" column="ID" type="Decimal" key="primary" />
    <attribute name="NODEID" column="NODEID" type="Decimal" />
    <attribute name="TITLE" column="TITLE" type="String" />
    <attribute name="COPYRIGHT" column="COPYRIGHT" type="String" />
    <attribute name="AUTHOR" column="AUTHOR" type="String" />
    <attribute name="PUBLISHTIME" column="PUBLISHTIME" type="Date" />
    <attribute name="HITS" column="HITS" type="Decimal" />
    <attribute name="CONTENT" column="CONTENT" type="String" />
    <attribute name="DEFAULTPICURL" column="DEFAULTPICURL" type="String" />
    <attribute name="USERNAME" column="USERNAME" type="String" />
    <attribute name="INSERTTIME" column="INSERTTIME" type="Date" />
    <attribute name="UPDATEUSERNAME" column="UPDATEUSERNAME" type="String" />
    <attribute name="UPDATETIME" column="UPDATETIME" type="Date" />
    <attribute name="STATUS" column="STATUS" type="Decimal" />
    <attribute name="ISSPECIAL" column="ISSPECIAL" type="String" />
    <attribute name="TITLEFONT" column="TITLEFONT" type="String" />
    <attribute name="TITLECOLOR" column="TITLECOLOR" type="String" />
    <attribute name="TITLESIZE" column="TITLESIZE" type="Decimal" />
    <attribute name="SUBTITLE" column="SUBTITLE" type="String" />
    <attribute name="SUBTITLEFONT" column="SUBTITLEFONT" type="String" />
    <attribute name="SUBTITLECOLOR" column="SUBTITLECOLOR" type="String" />
    <attribute name="SUBTITLESIZE" column="SUBTITLESIZE" type="Decimal" />
    <attribute name="FILEPATH" column="FILEPATH" type="String" />
  </class>
  <class name="T_NEWSINFOSEntity" table="T_NEWSINFOS" database="JH8890">
    <attribute name="ID" column="ID" type="Decimal" key="primary" />
    <attribute name="ORGCODE" column="ORGCODE" type="String" />
    <attribute name="TITLE" column="TITLE" type="String" />
    <attribute name="CONTENT" column="CONTENT" type="String" />
    <attribute name="TRANSACTORID" column="TRANSACTORID" type="String" />
    <attribute name="RELEASETIME" column="RELEASETIME" type="Date" />
  </class>
  <class name="T_NEWSNODEEntity" table="T_NEWSNODE" database="JH8890">
    <attribute name="ID" column="ID" type="Decimal" key="primary" />
    <attribute name="NODENAME" column="NODENAME" type="String" />
    <attribute name="PARENTID" column="PARENTID" type="Decimal" />
    <attribute name="WEBURL" column="WEBURL" type="String" />
    <attribute name="STATUS" column="STATUS" type="Decimal" />
  </class>
  <class name="T_NEWSPICEntity" table="T_NEWSPIC" database="JH8890">
    <attribute name="ID" column="ID" type="Decimal" key="primary" />
    <attribute name="NEWSID" column="NEWSID" type="Decimal" />
    <attribute name="PICINFO" column="PICINFO" type="String" />
    <attribute name="PICURL" column="PICURL" type="String" />
    <attribute name="STATUS" column="STATUS" type="Decimal" />
  </class>
  <class name="T_RECRUITEntity" table="T_RECRUIT" database="JH8890">
    <attribute name="ID" column="ID" type="Decimal" key="primary" />
    <attribute name="COMPANYNAME" column="COMPANYNAME" type="String" />
    <attribute name="INDUSTRY" column="INDUSTRY" type="String" />
    <attribute name="COMPANYNATURE" column="COMPANYNATURE" type="String" />
    <attribute name="COMPANYSIZE" column="COMPANYSIZE" type="String" />
    <attribute name="COMPANYINFO" column="COMPANYINFO" type="String" />
    <attribute name="COMPANYBENIFITS" column="COMPANYBENIFITS" type="String" />
    <attribute name="LINKMAN" column="LINKMAN" type="String" />
    <attribute name="LINKPHONE" column="LINKPHONE" type="String" />
    <attribute name="LINKMAIL" column="LINKMAIL" type="String" />
    <attribute name="WEBURL" column="WEBURL" type="String" />
    <attribute name="ADDRESS" column="ADDRESS" type="String" />
    <attribute name="STATUS" column="STATUS" type="Decimal" />
    <attribute name="MEMBERID" column="MEMBERID" type="Decimal" />
    <attribute name="INSERTTIME" column="INSERTTIME" type="Date" />
    <attribute name="CHECKTIME" column="CHECKTIME" type="Date" />
    <attribute name="USERNAME" column="USERNAME" type="String" />
  </class>
  <class name="T_RENTHOUSEEntity" table="T_RENTHOUSE" database="JH8890">
    <attribute name="ID" column="ID" type="Decimal" key="primary" />
    <attribute name="RENTTYPE" column="RENTTYPE" type="Decimal" />
    <attribute name="DISTRICT" column="DISTRICT" type="String" />
    <attribute name="TITLE" column="TITLE" type="String" />
    <attribute name="RENTAL" column="RENTAL" type="Decimal" />
    <attribute name="RENTALREQUIRE" column="RENTALREQUIRE" type="String" />
    <attribute name="FLOOR" column="FLOOR" type="Decimal" />
    <attribute name="ALLFLOOR" column="ALLFLOOR" type="Decimal" />
    <attribute name="ROOM" column="ROOM" type="Decimal" />
    <attribute name="HALL" column="HALL" type="Decimal" />
    <attribute name="TOILET" column="TOILET" type="Decimal" />
    <attribute name="AREA" column="AREA" type="Decimal" />
    <attribute name="HOUSETYPE" column="HOUSETYPE" type="String" />
    <attribute name="DECORATION" column="DECORATION" type="String" />
    <attribute name="TOWARD" column="TOWARD" type="String" />
    <attribute name="HOUSECONFIG" column="HOUSECONFIG" type="String" />
    <attribute name="CONTENT" column="CONTENT" type="String" />
    <attribute name="LINKMAN" column="LINKMAN" type="String" />
    <attribute name="LINKPHONE" column="LINKPHONE" type="String" />
    <attribute name="QQCODE" column="QQCODE" type="String" />
    <attribute name="STATUS" column="STATUS" type="Decimal" />
    <attribute name="MEMBERID" column="MEMBERID" type="Decimal" />
    <attribute name="INSERTTIME" column="INSERTTIME" type="Date" />
    <attribute name="CHECKTIME" column="CHECKTIME" type="Date" />
    <attribute name="USERNAME" column="USERNAME" type="String" />
    <attribute name="SECHOUSEID" column="SECHOUSEID" type="String" />
  </class>
  <class name="T_RENTHOUSEPICEntity" table="T_RENTHOUSEPIC" database="JH8890">
    <attribute name="ID" column="ID" type="Decimal" key="primary" />
    <attribute name="SECHOUSEID" column="SECHOUSEID" type="String" />
    <attribute name="PICURL" column="PICURL" type="String" />
    <attribute name="ISTOP" column="ISTOP" type="Decimal" />
  </class>
  <class name="T_SECCAREntity" table="T_SECCAR" database="JH8890">
    <attribute name="ID" column="ID" type="Decimal" key="primary" />
    <attribute name="BRAND" column="BRAND" type="String" />
    <attribute name="CARCOLOR" column="CARCOLOR" type="String" />
    <attribute name="REGTIME" column="REGTIME" type="String" />
    <attribute name="ISCAREIN4S" column="ISCAREIN4S" type="Decimal" />
    <attribute name="ISACCIDENT" column="ISACCIDENT" type="Decimal" />
    <attribute name="SURVEY" column="SURVEY" type="String" />
    <attribute name="INSURANCE" column="INSURANCE" type="String" />
    <attribute name="COMPULSOTYINSURANCE" column="COMPULSOTYINSURANCE" type="String" />
    <attribute name="DRIVING" column="DRIVING" type="Decimal" />
    <attribute name="PRICE" column="PRICE" type="Decimal" />
    <attribute name="TITLE" column="TITLE" type="String" />
    <attribute name="INTRODUCE" column="INTRODUCE" type="String" />
    <attribute name="LINKMAN" column="LINKMAN" type="String" />
    <attribute name="LINKPHONE" column="LINKPHONE" type="String" />
    <attribute name="LOOKADDRESS" column="LOOKADDRESS" type="String" />
    <attribute name="STATUS" column="STATUS" type="Decimal" />
    <attribute name="MEMBERID" column="MEMBERID" type="Decimal" />
    <attribute name="INSERTTIME" column="INSERTTIME" type="Date" />
    <attribute name="CHECKTIME" column="CHECKTIME" type="Date" />
    <attribute name="USERNAME" column="USERNAME" type="String" />
    <attribute name="SECCARID" column="SECCARID" type="String" />
  </class>
  <class name="T_SECCARPICEntity" table="T_SECCARPIC" database="JH8890">
    <attribute name="ID" column="ID" type="Decimal" key="primary" />
    <attribute name="SECCARID" column="SECCARID" type="String" />
    <attribute name="PICURL" column="PICURL" type="String" />
    <attribute name="ISTOP" column="ISTOP" type="Decimal" />
  </class>
  <class name="T_SECHOUSEEntity" table="T_SECHOUSE" database="JH8890">
    <attribute name="ID" column="ID" type="Decimal" key="primary" />
    <attribute name="DISTRICT" column="DISTRICT" type="String" />
    <attribute name="TITLE" column="TITLE" type="String" />
    <attribute name="PRICE" column="PRICE" type="Decimal" />
    <attribute name="ROOM" column="ROOM" type="Decimal" />
    <attribute name="HALL" column="HALL" type="Decimal" />
    <attribute name="TOILET" column="TOILET" type="Decimal" />
    <attribute name="AREA" column="AREA" type="Decimal" />
    <attribute name="CONTENT" column="CONTENT" type="String" />
    <attribute name="LINKMAN" column="LINKMAN" type="String" />
    <attribute name="LINKPHONE" column="LINKPHONE" type="String" />
    <attribute name="QQCODE" column="QQCODE" type="String" />
    <attribute name="STATUS" column="STATUS" type="Decimal" />
    <attribute name="MEMBERID" column="MEMBERID" type="Decimal" />
    <attribute name="INSERTTIME" column="INSERTTIME" type="Date" />
    <attribute name="CHECKTIME" column="CHECKTIME" type="Date" />
    <attribute name="USERNAME" column="USERNAME" type="String" />
    <attribute name="SECHOUSEID" column="SECHOUSEID" type="String" />
  </class>
  <class name="T_SECHOUSEPICEntity" table="T_SECHOUSEPIC" database="JH8890">
    <attribute name="ID" column="ID" type="Decimal" key="primary" />
    <attribute name="SECHOUSEID" column="SECHOUSEID" type="String" />
    <attribute name="PICURL" column="PICURL" type="String" />
    <attribute name="ISTOP" column="ISTOP" type="Decimal" />
  </class>
  <class name="T_WEBMANAGEEntity" table="T_WEBMANAGE" database="JH8890">
    <attribute name="ID" column="ID" type="Decimal" key="primary" />
    <attribute name="USERNAME" column="USERNAME" type="String" />
    <attribute name="PASSWORD" column="PASSWORD" type="String" />
    <attribute name="TRUENAME" column="TRUENAME" type="String" />
    <attribute name="CREATETIME" column="CREATETIME" type="Date" />
    <attribute name="LASTLOGINIP" column="LASTLOGINIP" type="String" />
    <attribute name="LASTLOGINTIME" column="LASTLOGINTIME" type="Date" />
    <attribute name="TELEPHONE" column="TELEPHONE" type="String" />
    <attribute name="DEPT" column="DEPT" type="String" />
    <attribute name="STATUS" column="STATUS" type="Decimal" />
  </class>
  <class name="T_WEBMANAGEROLEEntity" table="T_WEBMANAGEROLE" database="JH8890">
    <attribute name="ID" column="ID" type="Decimal" key="primary" />
    <attribute name="USERNAME" column="USERNAME" type="String" />
    <attribute name="NODEID" column="NODEID" type="Decimal" />
  </class>
  <class name="T_SURVEYEntity" table="T_SURVEY" database="JH8890">
    <attribute name="ID" column="ID" type="Decimal" key="primary" />
    <attribute name="TITLE" column="TITLE" type="String" />
    <attribute name="USERNAME" column="USERNAME" type="String" />
    <attribute name="INSERTTIME" column="INSERTTIME" type="Date" />
    <attribute name="ISPUBLISH" column="ISPUBLISH" type="Decimal" />
  </class>
  <class name="T_SURVEYQUESTIONEntity" table="T_SURVEYQUESTION" database="JH8890">
    <attribute name="ID" column="ID" type="Decimal" key="primary" />
    <attribute name="SURVEYID" column="SURVEYID" type="Decimal" />
    <attribute name="QUESTIONID" column="QUESTIONID" type="Decimal" />
    <attribute name="TYPE" column="TYPE" type="String" />
    <attribute name="TITLE" column="TITLE" type="String" />
    <attribute name="ANSWER" column="ANSWER" type="String" />
      <attribute name="ISTEXT" column="ISTEXT" type="String" />
  </class>
  <class name="T_SURVEYANSWEREntity" table="T_SURVEYANSWER" database="JH8890">
    <attribute name="ID" column="ID" type="Decimal" key="primary" />
    <attribute name="SAMESURVEYID" column="SAMESURVEYID" type="String" />
    <attribute name="QUESTIONID" column="QUESTIONID" type="Decimal" />
    <attribute name="KEYWORD" column="KEYWORD" type="String" />
    <attribute name="REMARK" column="REMARK" type="String" />
  </class>
  <class name="T_SURVEYREPLYEntity" table="T_SURVEYREPLY" database="JH8890">
    <attribute name="ID" column="ID" type="Decimal" key="primary" />
    <attribute name="SURVEYID" column="SURVEYID" type="Decimal" />
    <attribute name="SAMESURVEYID" column="SAMESURVEYID" type="String" />
    <attribute name="MEMBERID" column="MEMBERID" type="Decimal" />
    <attribute name="IPADDRESS" column="IPADDRESS" type="String" />
    <attribute name="REPLYTIME" column="REPLYTIME" type="Date" />
  </class>
  <class name="T_ADVERTISMENTEntity" table="T_ADVERTISMENT" database="JH8890">
    <attribute name="ID" column="ID" type="String" key="primary" />
    <attribute name="TITLE" column="TITLE" type="String" />
    <attribute name="INTRODUCE" column="INTRODUCE" type="String" />
    <attribute name="PICURL" column="PICURL" type="String" />
    <attribute name="PICWIDTH" column="PICWIDTH" type="Decimal" />
    <attribute name="PICHEIGHT" column="PICHEIGHT" type="Decimal" />
    <attribute name="WEBURL" column="WEBURL" type="String" />
    <attribute name="USERNAME" column="USERNAME" type="String" />
    <attribute name="INSERTTIME" column="INSERTTIME" type="Date" />
    <attribute name="ISDELETE" column="ISDELETE" type="String" />
    <attribute name="DELETETIME" column="DELETETIME" type="Date" />
    <attribute name="DELETENAME" column="DELETENAME" type="String" />
    <attribute name="ADVTYPE" column="ADVTYPE" type="Decimal" />
    <attribute name="POSITION" column="POSITION" type="Decimal" />
    <attribute name="TOPPIX" column="TOPPIX" type="Decimal" />
  </class>
  <class name="ST_PROTYPEEntity" table="ST_PROTYPE" database="JH8890">
    <attribute name="ID" column="ID" type="Decimal" key="primary" />
    <attribute name="CODE" column="CODE" type="String" />
    <attribute name="VVALUE" column="VVALUE" type="String" />
    <attribute name="IORDER" column="IORDER" type="Decimal" />
  </class>
  <class name="T_PRODUCTEntity" table="T_PRODUCT" database="JH8890">
    <attribute name="ID" column="ID" type="Decimal" key="primary" />
    <attribute name="PROID" column="PROID" type="String" />
    <attribute name="BAND" column="BAND" type="String" />
    <attribute name="PROTYPE" column="PROTYPE" type="String" />
    <attribute name="INTRODUCE" column="INTRODUCE" type="String" />
    <attribute name="PRONAME" column="PRONAME" type="String" />
    <attribute name="PROSTATUS" column="PROSTATUS" type="String" />
    <attribute name="STATUS" column="STATUS" type="Decimal" />
    <attribute name="MEMBERID" column="MEMBERID" type="String" />
    <attribute name="INSERTTIME" column="INSERTTIME" type="Date" />
    <attribute name="EDITIME" column="EDITIME" type="Date" />
    <attribute name="USERNAME" column="USERNAME" type="String" />
    <attribute name="HITS" column="HITS" type="Decimal" />
  </class>
  <class name="T_PRODUCTPICEntity" table="T_PRODUCTPIC" database="JH8890">
    <attribute name="ID" column="ID" type="Decimal" key="primary" />
    <attribute name="PROID" column="PROID" type="String" />
    <attribute name="PICURL" column="PICURL" type="String" />
    <attribute name="ISTOP" column="ISTOP" type="Decimal" />
  </class>
</map>