<?xml version="1.0" encoding="utf-8"?>
<map>
  <database name="JH8890" type="Oracle">
    <parameter name="User ID" value="HQ96345" />
    <parameter name="Data Source" value="ORCL" />
    <parameter name="Provider" value="MSDAORA.1" />
    <parameter name="Password" value="HQ96345" />
    <classMapFile path="Config/ClassMap.config" />
  </database>
</map>